.usersTable {
  border-collapse: collapse;
  width: 100%;
  padding: 5px;
  overflow: scroll;
  
  table {
    width: 100%;
  }

  h1 {
    text-align: center;
    color: #18644e;
  }

  th,
  td {
    padding: 5px;
    border: 1px solid #ccc;
    transition: 0.4s ease, backface-visibility 1s;
    backface-visibility: hidden;

  }

  th {
    padding: 5px 30px;
    background-color: #18644e;
    color: #ffffff;
  }

  td {
    text-align: center;
  }

  button {
    padding: 5px 11px;
    background-color: #18644e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }

  .ant-btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: white;
  }
}
