.content {
  min-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  
  .lessonItem {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: none;
    margin-bottom: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-1px);
    }

    button {
      
      &:hover {
        background-color: #fff;
      }
    }
  }

  .lessonTitle {
    font-size: 22px;
  }
}
