.input_group {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    height: 30px;
    padding: 5px;
    margin: 10px;
    margin-left: 130px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }

  .btn_add_group {
    height: 30px;
    border: none;
    background-color: #18644e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #259f7d;
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #fcfafa;
  border-radius: 5px;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .delete_group {
    // color: red;
    margin-bottom: 20px;
  }

  .edit_input {
    height: 20px;
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .edit_name {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .end_name {
    margin: 7px;
  }

  .main_lesson_user {
    display: flex;
    justify-content: space-between;
      .group_students{
        margin-right: 66px;
      }
  }
  
}
