.input_group {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    padding: 7px 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }

  .btn_add_group {
    padding: 8px 14px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #18644e;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #259f7d;
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #fcfafa;
  border-radius: 5px;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .delete_group {
    // color: red;
    margin-bottom: 20px;
  }

  .edit_input {
    height: 20px;
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .edit_name {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .end_name {
    margin: 7px;
  }

  .main_lesson_user {
    display: flex;
    justify-content: space-between;
    
      .group_students{
        margin-right: 66px;
      }
  }
  
}

/* Group.module.scss */

.groupTable {
  
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 

  .table {
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #ccc;
    margin: auto;

    th,
    td {
      padding: 8px;
      border: 1px solid #ccc;
      text-align: center;

      button {
        border: none;
        background-color: #fff;
      }

      button {
        padding: 5px 10px;
        border-radius: 5px;
      }
    }

    th {
      background-color: #18644e;
      color: white;
    }

    tr:hover {
      background-color: #e6e6e6;
    }
  }
}

