footer {
  width: 100%;
  height: 80px;
  color: #fff;
  background-color: #18644e;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 10%;
      margin-bottom: 10px; 
    }

    .contacts {
      padding-right: 5%;

      a {
        margin-right: 10px;
        font-size: 26px;
      }
    }

    .copyright {
      background-color: #18644e;
      text-align: center;
      padding: 10px;
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      font-size: 12px;

      img {
        width: 10%;
      }

      .contacts {
        margin-top: 5px;
        padding: 0;

        a {
          font-size: 18px;
        }
      }

      span {
        display: inline-block;
        padding: 0 20px;
      }

      .copyright {
        font-size: 8px;
      }
    }
  }
}
