.container{
    position: fixed;
    right: 1px;

    h1{
        color: #18644e;
        margin-top: 10px;
    }

    form{
        width: 400px;

        input{
            width: 350px;
            height: 45px;
            margin-left: 20px;
            margin-top: 10px;
            border: 1px solid #18644e;
            border-radius: 10px;
        }

        button{
            width: 350px;
            height: 35px;
            margin-top: 20px;
            margin-left: 20px;
            border: 1px solid black;
            border-radius: 10px;
            background: #18644e;
            color: white;
        }
    }

}